## **Question_1**

Write a code that modifies the given matrix M (with 3 rows and 4 columns), by swapping the (whole) columns 0 and 1.

M = [[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

The matrix M above should become the matrix below;

M = [[12, 11, 13, 14], [22, 21, 23, 24], [32, 31, 33, 34]]

In [ ]:
M = [[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

In [ ]:
for list in M:
  a = list[0]
  list[0]=list[1]
  list[1]=a

In [ ]:
M

[[12, 11, 13, 14], [22, 21, 23, 24], [32, 31, 33, 34]]

## **Question_2**

Find the maximal element of the matrix M and print the row number and column number of the maximal element as a tuple.

M = [[0, 3, 2, 4], [2, 7, 5, 9], [6, 1, 2, 3]]

The output of the code should be row number and column number of the maximal element as a tuple.
(1,3)

In [ ]:
M = [[0, 3, 2, 4], [2, 7, 5, 9], [6, 1, 2, 3]]

In [ ]:
i = 0
j = 0
maxval = 0
for list in M:
  if max(list) > maxval:
    maxval = max(list)
    i = M.index(list)
    j = list.index(maxval)
    result = (i,j)

result

(1, 3)

### **Question_3**

Given two lists of numbers, count how many unique numbers occur in both of them.

For example, on input

list_1 = [5, 3, 3, 10, 40]

list_2 = [40, 3, 40, 1, 2]

output must be

6

In [ ]:
list_1 = [5, 3, 3, 10, 40]

list_2 = [40, 3, 40, 1, 2]

In [ ]:
list_1.extend(list_2)

In [ ]:
list = set(list_1)

In [ ]:
len(list)

6

### **Question_4**

We have a dictionary containing the math grades and the student number of 5 students. Calculate the mean of the grades and then prints out the name of the students who are above and below that average(and if any print that are equals to the mean as well):

For example if the grades are

- Jane: 30

- Pat: 40

- Denis: 50

- Max: 60

- Lara: 70

Then the mean is 50

your program should print:

*"Grade(s) of Jane and Pat are below the average"*

*"Grade(s) of Denis is equal to the mean"*

*"Grade(s) of Max and Lara are above the average"*

In [ ]:
students = {"Jane":{"grade":90,"student_number":4012}, 
          "Pat":{"grade":81,"student_number":4052},
          "Denis":{"grade":70,"student_number":4089},
          "Max":{"grade":72,"student_number":4322},
          "Lara":{"grade":74,"student_number":4042}}

In [ ]:
x = []
for name in students:
  x.append(students[name]['grade'])
average = sum(x)/len(x)

In [ ]:
above = []
equal = []
below = []
for name in students:
  if students[name]['grade'] < average:
    below.append(name)
  elif students[name]['grade'] == average:
   equal.append(name)
  else:
    above.append(name)
if len(below) > 0:
  if len(below) == 1:
    print("Grade(s) of {0} is below the average".format(below))
  else:
    print("Grade(s) of {0} are below the average".format(below))
if len(equal) > 0:
  if len(equal) == 1:
    print("Grade(s) of {0} is equal to the mean".format(equal))
  else:
    print("Grade(s) of {0} are equal to the mean".format(equal))
if len(above) > 0:
  if len(above) == 1:
    print("Grade(s) of {0} is equal to the mean".format(above))
  else:
    print("Grade(s) of {0} are equal to the mean".format(above))

Grade(s) of ['Denis', 'Max', 'Lara'] are below the average
Grade(s) of ['Jane', 'Pat'] are equal to the mean

### **Question_5**

A theatre sells batches of 1 to 4 tickets per sale (if available). Initially there are 200 tickets. Write a Python program that repeatedly tells the user how many tickets are left, asks for how many tickets the user wants to buy, indicates minimum and maximum numbers to buy, and reads the user's input. This continues until all tickets have been sold. At the end, the program prints how many sales transactions have been performed. For example, we might have the following interaction:


200 tickets remaining

How many do you want to buy?

Minimum 1, maximum 4

3

197 tickets remaining

How many do you want to buy?

Minimum 1, maximum 4

4

(...)

2 tickets remaining

How many do you want to buy?

Minimum 1, maximum 2

2

86 sales transactions


(You may assume that the user enters the data correctly, i.e., all values are integers between the current minimum and maximum numbers they may buy.)

In [ ]:
total = 20
transactionNum = 0
while total > 0:
  print("{0} tickets remaining".format(total))
  print("How many do you want to buy?")
  if total > 3:
    max = 4
  else:
    max = total
  print("Minimum 1, maximum {0}".format(max))
  num = int(input())
  total = total - num
  transactionNum = transactionNum + 1
print("{0} sales transactions".format(transactionNum))

20 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
4
16 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
3
13 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
1
12 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
2
10 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
3
7 tickets remaining
How many do you want to buy?
Minimum 1, maximum 4
4
3 tickets remaining
How many do you want to buy?
Minimum 1, maximum 3
3
7 sales transactions